@mixin box-shadow($x: 0, $y: 0, $blur: 0, $spread: 0, $color: #000) 
  box-shadow: $x $y $blur $spread $color
  
.title-form-field
 width:100%

.subtitle-form-field
  width:100%

.category-form-field
 width:100%

.description-text-area
  width: 100%
  min-height: 150px

.image-form-field
  width: 100%
  min-height: 150px

.note-form
  min-width: auto
  max-width: auto
  width: 100%

.box 
  @include box-shadow(2.0px, 20px, 15px, 0, #88888888)
  padding-left: 50px
  padding-right: 50px
  padding-top: 50px
  padding-bottom: 100px
  min-width: 450px
  width: 50%
  margin: auto
  justify-content: center


.preview 
  max-width: 200px


.preview-div
  width: 50%
  margin: auto


