<div class="box">
  <form class="note-form">
    
    <mat-form-field class="title-form-field">
      <mat-label>Title</mat-label>
      <input matInput type="text" [(ngModel)]="Title" name="Title">
      <button *ngIf="Title" matSuffix mat-icon-button aria-label="Clear" (click)="Title=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field><br/>

    <mat-form-field appearance="fill" class="category-form-field">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="CategorySelected" name="category">
        <mat-option *ngFor="let category of CategoryList" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field><br/>

    <mat-form-field class="subtitle-form-field">
      <mat-label>Subtitle</mat-label>
      <input matInput type="text" [(ngModel)]="Subtitle" name="Subtitle">
      <button *ngIf="Subtitle" matSuffix mat-icon-button aria-label="Clear" (click)="Subtitle=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> <br/>

    <mat-form-field class="image-form-field">
      <div>
        <mat-toolbar>
          <input matInput [value]="selectedFileName != '' ? selectedFileName : 'Select Images'" />
          <button mat-flat-button color="primary" [disabled]="!selectedFile" (click)="uploadFile()"> Upload </button>
        </mat-toolbar>
        <input type="file" id="fileInput" name="fileInput" accept="image/*" (change)="selectFile($event)" />
      </div>
      <div>
        <img [src]="preview" class="preview">
      </div>
    </mat-form-field><br/>

    <mat-form-field class="description-text-area">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" [(ngModel)]="Content" name="Content" class="description-text-area"></textarea>
      <button *ngIf="Content" matSuffix mat-icon-button aria-label="Clear" (click)="Content=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field><br/>

    <button mat-raised-button color="primary" (click)="createOrModifyNote()">Submit</button>
    <button mat-raised-button color="warn" (click)="cancelNote()">Cancel</button>

  </form>
</div>
