<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Welcome to Browser Note App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon button with a open in new tab icon" (click)="createNote()">
      <mat-icon>note_add</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a open in new tab icon" (click)="openCreateCategoryDialog()">
      <mat-icon>storage</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>



<app-card *ngFor="let card of CardData" 
    [card]="card"
    (deleteCard)="deleteCard($event)">
</app-card>